body, html {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}
.wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 100%;
}
#codeeditor {
    width: 70%;
    /*height: 100%;*/
    height: 100vh;
}
#undos {
    width: 30%;
    /*height: 100%;*/
    height: 100vh;
    background-color: lightgray;
}
#undos h1 {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}